#map {
  height: 400px;
  width: 100%;
}
.custom-number-label {
  text-align: center;
  font-weight: bold;
  pointer-events: none;
}
.leaflet-container {
  z-index: 1;
}

.leaflet-draw {
  z-index: 1000;
}

.leaflet-control {
  z-index: 1100;
}