<div class="p-6 bg-white shadow rounded max-w-2xl mx-auto mt-6">
  <h2 class="text-xl font-bold mb-4">Attendance Form</h2>
  <form (ngSubmit)="submitAttendance()" class="space-y-4">
    <input type="text" placeholder="Worker Name" [(ngModel)]="attendance.workerName" name="workerName" class="input" required />
    <input type="text" placeholder="Field" [(ngModel)]="attendance.field" name="field" class="input" required />
    <input type="time" placeholder="In Time" [(ngModel)]="attendance.inTime" name="inTime" class="input" required />
    <input type="time" placeholder="Out Time" [(ngModel)]="attendance.outTime" name="outTime" class="input" required />
   <button mat-raised-button color="primary" type="submit">
  Submit Attendance
</button>
  </form>
</div>
